# Byte-compiled
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuff:
*.log
.static_storage/
.media/
/static

# database
.sql
.sqlite3

# Environments
# .env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.vscode/*
